[submodule "seqr-loading-pipelines"]
	path = seqr-loading-pipelines
	url = https://github.com/populationgenomics/seqr-loading-pipelines.git
[submodule "gnomad_methods"]
	path = gnomad_methods
	url = git@github.com:populationgenomics/gnomad_methods.git
