[submodule "seqr-loading-pipelines"]
	path = seqr-loading-pipelines
	url = https://github.com/populationgenomics/seqr-loading-pipelines.git
[submodule "cpg-utils"]
	path = cpg-utils
	url = https://github.com/populationgenomics/cpg-utils.git
