[MESSAGES CONTROL]
# We disable the following inspections:
# 1. f-string-without-interpolation (we allow f-strings that don't do any
#    formatting for consistent looks and for future safety)
# 2. inherit-non-class ("Inheriting 'NamedTuple', which is not a class" false
#    positive, see: https://github.com/PyCQA/pylint/issues/3876)
# 3. too-few-public-methods (produces false positives)
# 4. inspections incompatible with Black (see
     https://github.com/psf/black/blob/master/docs/compatible_configs.md#why-those-options-above-2):
#    C0330: Wrong hanging indentation before block (add 4 spaces)
#    C0326: Bad whitespace
# 5. fixme (left 'TODO' lines)
# 6. logging-fstring-interpolation (forbids f-strings in logging functions)
# 7. The following require installing the python modules imported in the source code.
#    Add these if you don't want to include all dependencies into the dev environment:
#    import-error ("Unable to import")
#    no-member
#    c-extension-no-member
# 8. unsubscriptable-object (see https://github.com/PyCQA/pylint/issues/3882)
# 9. R0801 (Similar lines in 2 files)
# 11. C0302: Too many lines in module
# 12. line-too-long (covered by black)
# 13. too-many-branches
# 14. trailing-whitespace
# 15. logging-not-lazy
# 16. consider-using-set-comprehension
# 17. unnecessary-pass
# 18. no-else-return
# 19. use-dict-literal
# 20. unspecified-encoding

disable=f-string-without-interpolation,inherit-non-class,too-few-public-methods,C0330,C0326,fixme,logging-fstring-interpolation,import-error,no-member,c-extension-no-member,unsubscriptable-object,R0801,C0302,line-too-long,too-many-locals,too-many-branches,trailing-whitespace,logging-not-lazy,consider-using-set-comprehension,unnecessary-pass,no-else-return,use-dict-literal,unspecified-encoding

# Overriding variable name patterns to allow short 1- or 2-letter variables
attr-rgx=[a-z_][a-z0-9_]{0,50}$
argument-rgx=[a-z_][a-z0-9_]{0,50}$
variable-rgx=[a-z_][a-z0-9_]{0,50}$

# Maximum number of characters on a single line. Default for black, see:
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
max-line-length=88

ignore=setup.py

[DESIGN]
# Maximum number of locals for function / method body
max-locals=30
# Maximum number of arguments for function / method
max-args=30
max-statements=200
