pre-commit
pylint
bump2version
black
pytest>8
pytest_mock
pytest-xdist>=3.6.0
mypy
cpg-utils>=5.0.11
tenacity
coverage
setuptools>=65.5.1 # not directly required, pinned by pip-audit to avoid a vulnerability
