cpg-utils>=4.18.3
cyvcf2==0.30.18
analysis-runner>=2.43.3
hail!=0.2.120  # Temporarily work around hail-is/hail#13337
networkx>=2.8.3
obonet>=0.3.1  # for HPO parsing
onnx
onnxruntime
skl2onnx
metamist>=6.9.0
pandas
peddy
fsspec
slack_sdk
elasticsearch==8.*
coloredlogs
bokeh
numpy
click