name: Package
on:
  # Building on pull-requests, manual dispatch, and pushes to main; but restricting
  # publishing only to main pushes and manual dispatch with `if`s in specific steps.
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  package:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Build
        run: |
          python -m pip install build
          python -m build

      - name: Test install
        run: pip install dist/*.whl

      - name: Test import
        run: python -c "import cpg_workflows"

      - name: Publish the wheel to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          packages-dir: dist/
          skip-existing: true
